body{
    background: burlywood;
    min-height: 100vh;
}

.qq{
    position: relative;
}

.navbar{
    height: 48px;
    width: 100%;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.choice{
    display: flex;
    align-items: center;
    width: 330px;
    justify-content: space-between;
}

#site-choice{
    min-width: 130px;
    margin-right: 12px;
}

#label-choice{
    font-size: 14px;
    color: white;
    margin-left: 12px;
}

.content-wrapper{
    margin-top: 50px;
}

.choosen-items{
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    margin-left: 24px;
}

.choosen-items:hover{
    background: rgba(255, 255, 255, 0.14);
    transition-duration: 0.3s;
}